body {
    background: black;
    color: white;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#intervals td {
    padding: 10px;
}

table.collatz-numbers {
    margin-bottom: 40px;
}

table.collatz-numbers th {
    margin-bottom: 20px;
}

#collatz-numbers table.collatz-numbers .td-selectbox,
#collatz-numbers table.collatz-numbers .info-cell{
    text-align: left;
}

.n-1 {
    background-color: yellow;
    color: black;
}

.n-2 {
    background-color: green;
    color: white;
}

.n-3 {
    background-color: red;
    color: white;
}

.n-4 {
   background-color: blue;
    color: white; 
}

.n-5 {
    background-color: black;
    color: white;
}

.n-6 {
    background-color: aqua;
    color: black;
}

.n-7 {
    background-color: blueviolet;
    color: white;
}

.n-8 {
    background-color: antiquewhite;
    color: black;
}

td.n-cell {
    text-align: center;
    vertical-align: middle;
}

#collatz-numbers td {
    text-align: center;
}

#collatz-numbers th.legend {
    text-align: left;
    padding: 0;
    min-width: 160px;
    width: 160px;
    position: absolute;
    left:0;
    top:auto;
    height:60px;
}

#collatz-numbers tr.number-row td {
    padding: 0 7px;
}

#collatz-numbers tr.number-step-info td {
  text-align: left;
}

#collatz-numbers {
    max-width: 1400px;
    overflow-x: scroll;
    width: 1400px;
    display: block;
}

#collatz-numbers {
    margin-left: 110px;
}

select {
    margin-top: 4px;
}

